.product-item{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    background-color: aqua;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-sizing: border-box;
    height: 150px;
}

.product-item_description{
    color: rgb(252, 41, 76);
    font-size: 20px;
}